<%-include("partials/header.ejs") %>

<!-- header content -->
<h1 class=" title-heading">Manage Your Tasks</h1>
<div class="task-switching">
  <form action="/index" method="POST">
    <input class="daily-button type-button" type="submit" name="true" value="Daily To-Do" />

  </form>
  <form action="/WorkSelected" method="POST">
    <input class="work-button type-button" type="submit" name="false" value="Professional Tasks" />
  </form>
</div>

<div class="type-selected col-lg-7 col-md-6 col-sm-11 col-xl-6">

</div>
<div class="tasks-list">
    <div class="only_tasks">
      <% for(let i=0;i<list.length;i++) { %>
        <h3 class="single-task">
            <input type="checkbox" class="checkbox" name="item<%=i %>" 
            <% if(check[i+""]=="true") {%>
              checked
              <% } %>
            id="checkbox">
            <p class="content"><%=list[i]  %></p>
        </h3>
        <% } %>
    </div>
    <form class="item" action="/submit" method="post">
      <input name="input_value" type="text" id="task-textbox" class="form-control" placeholder="Add a new task..." aria-label="Recipient's username" aria-describedby="basic-addon2">
      <button type="submit" value="list" class="btn btn-outline-secondary" type="button">+</button>
    </form>
</div>


<%-include("partials/footer.ejs") %>
