body{
    background-color: aquamarine;
}
.title-heading{
    background-color: rgb(238, 208, 213);
    color: blue;
    display: flex;
    justify-content: center;
}

.task-switching{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.task-switching input{
    border-radius: 10px;
}

.tasks-list{
    background-color: blueviolet;
    border: 2px solid black;
    margin: auto;
    margin-top: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px 50px 10px 20px;
}
.single-task{
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
    margin-left: 40px;
}

#checkbox{
    align-self:self-start;
    height: 30px;
    width: 30px;
    border-radius: 40px;
}

.btn-outline-secondary{
    color: black;
    border: 1px solid black;
    margin-left: 5px ;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

/* to add and remove for strike */
.cut{
    text-decoration: line-through;
}