/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&display=swap');
body{
    background-color: #F2BED1;
    color: #F2BED1;    
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M40 16h-6m-4 0h-6m8 8v-6m0-4V8M8 16H2m-4 0h-6m8 8v-6m0-4V8'  stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linecap='square' stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>") */
}
.title-heading{
    background-color: #FDCEDF;
    color: #F9F5F6;
    display: flex;
    justify-content: center;
    font-family: 'Bricolage Grotesque', sans-serif;

    
}

.daily-button, .work-button{
    background-color: #F9F5F6;
    color: #F2BED1;
    border: #FDCEDF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 3px 50px;
    font-size: large;
}


.task-switching{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.task-switching input{
    border-radius: 10px;
}

.tasks-list{
    background-color: #F9F5F6;
    border: 2px solid #FDCEDF;
    color: #F2BED1;
    margin: auto;
    margin-top: 40px;
    width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px 50px 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 1)'/><path d='M27.26 5.415c-.55 0-.9.55-.65 1l2.45 4.75c.2.5.85.5 1.15.1l3.15-4.5c.3-.4 0-1.05-.55-1.1zM10.689 8.068c-.406-.051-.822.31-.778.748l.5 5.3c.05.5.6.8 1.05.5l4.55-3.05c.45-.3.4-.95-.05-1.15l-5.1-2.3a.605.605 0 0 0-.172-.048zM2.406 24.584a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm40 0a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm-22.17 3.108a.744.744 0 0 0-.675.723l.4 5.55c.05.5.6.8 1.05.5l4.45-2.95c.45-.25.4-.9-.05-1.15l-4.8-2.6a.702.702 0 0 0-.376-.073z'  stroke-width='1' stroke='none' fill='hsla(259, 48%, 86%, 0.39)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.only_tasks{
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.single-task{
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
    margin-left: 40px;
}

#checkbox{
    align-self:self-start;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}

.btn-outline-secondary{
    color: #F9F5F6;
    border: 1px solid black;
    margin-left: 5px ;
    background-color: #F2BED1;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 70%;
    margin-bottom: 20px;
}
#task-textbox{
    background-color: #FDCEDF;
}

/* to add and remove for strike */
.cut{
    color:rgb(174, 235, 156);text-decoration:line-through
}


@media (max-width: 600px){
    .task-switching{
        display: flex;
        flex-direction: column;
        /* width: 100em; */
    }
    .type-button{
        /* width: 80% */
        width: 500px;
        margin: 0 50px
    }
    .tasks-list{
        margin-left: 20px;
        margin-right: 20px;
        width: 550px;
    }
}